
.root {
    -fx-background-color: #263238;
}

.grid-pane {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-border-color: #78909C;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 20px;
}

.text-input {
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
    -fx-font-size: 14px;
}

.text-input-focused {
    -fx-background-color: #ECEFF1;
}

.text-input:hover {
    -fx-background-color: #ECEFF1;
}

.label {
    -fx-text-fill: #ECEFF1;
    -fx-font-size: 14px;
}

.button {
    -fx-pref-width: 120px;
    -fx-pref-height: 30px;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #43A047;
}

.button:pressed {
    -fx-background-color: #1B5E20;
}

.action-target {
    -fx-fill: #E53935;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.root {
    -fx-font-family: Arial;
}

.top-box {
    -fx-background-color: #333333;
    -fx-padding: 20;
    -fx-alignment: center;
}

.tab {
    -fx-padding: 10;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.tab .tab-label {
    -fx-rotate: -90;
}

